<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DilbertSoap" />
                <binding name="BasicHttpBinding_IDALService" />
                <binding name="BasicHttpBinding_ICalculator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.gcomputer.net/webservices/dilbert.asmx"
                binding="basicHttpBinding" bindingConfiguration="DilbertSoap"
                contract="ServiceReference1.DilbertSoap" name="DilbertSoap" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/DALService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDALService"
                contract="ServiceReference2.IDALService" name="BasicHttpBinding_IDALService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Calculator/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator"
                contract="ServiceReference3.ICalculator" name="BasicHttpBinding_ICalculator" />
        </client>
    </system.serviceModel>
</configuration>